/***Styles for the entire website*********************************************/

h1{

}

h2{

}

h3{

}

body{
  margin: 0;
  background-color: rgb(47, 86, 117);
  color: white;
  text-align: center;
}

/***Header Styles*************************************************************/

nav{
  background: blue;
  width: 100%;
  overflow: auto;
  margin: 0;
}

nav a{
  margin: 0;
  width: auto;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: blue;
  font-size: 17px;
  color: white;
  padding: 20px 30px;
  font-family: sans-serif;
}

nav a:hover{
  color: #FOFOFO;
	font-weight: 600;
	transition-delay: 30ms;
	transition-property: font-size;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  float: left;
}

/***Styles for the Body*******************************************************/

.rowContainer{
  text-align: center;
  margin: 0;
}

.columnContainer{
  column-count: 5;
  column-width: auto;
  text-align: center;
  margin: 0;
}

.columnLeftOne{
  background-color: blue;
  text-align: left;
  height: 100px;
  width: auto;
  padding: 0:
}

.columnLeftTwo{
  background-color: red;
  text-align: center;
  height: 100px;
  width: auto;
  padding: 10px:
}

.columnMiddle{
  background-color: yellow;
  text-align: center;
  height: 100px;
  width: auto;
  padding: 10-px:
}

.columnRightOne{
  background-color: orange;
  text-align: center;
  height: 100px;
  width: auto;
  padding: 10px:
}

.columnRightTwo{
  background-color: green;
  text-align: center;
  height: 100px;
  width: auto;
  padding: 10px:
}
